In [2]:
"""16.4 Use the sqlite3 module to create a SQLite database called books.db 
and a table called books with these fields: title (text), author (text), and year (integer)."""

import sqlite3

conn = sqlite3.connect('books.db')
cursor = conn.cursor()

# Create the books table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS books (
        title TEXT,
        author TEXT,
        year INTEGER
    )
''')

conn.commit()
conn.close()


"""16.8 Use the sqlalchemy module to connect to the sqlite3 database books.db 
that you just made in exercise 16.4. As in 16.6, select and print the title 
column from the book table in alphabetical order."""

from sqlalchemy import create_engine, select, Table, MetaData

# Create an SQLAlchemy engine
engine = create_engine('sqlite:///books.db', echo=True)

# Connect to the engine
conn = engine.connect()

# Reflect the existing table
metadata = MetaData(engine)
books_table = Table('books', metadata, autoload=True)

# Select and print the title column from the book table in alphabetical order
query = select([books_table.c.title]).order_by(books_table.c.title)
result = conn.execute(query)

for row in result:
    print(row[0])

# Close the connection
conn.close()

2023-11-18 18:37:34,617 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("books")
2023-11-18 18:37:34,617 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-18 18:37:34,618 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2023-11-18 18:37:34,618 INFO sqlalchemy.engine.Engine [raw sql] ('books',)
2023-11-18 18:37:34,619 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("books")
2023-11-18 18:37:34,619 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-18 18:37:34,620 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("books")
2023-11-18 18:37:34,620 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-18 18:37:34,620 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2023-11-18 18:37:34,621 INFO sqlalchemy.engine.Engine [raw sql] ('books',)
2023-11-18 18:37:34,622 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("books")
2023-11-18 18:37:34,622 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-18 18:37:34,623 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("books")
2023-11-18 18:37:34,623 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-18 18:37:34,624 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("books")
2023-11-18 18:37:34,624 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-18 18:37:34,625 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("books")
2023-11-18 18:37:34,625 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-18 18:37:34,625 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2023-11-18 18:37:34,626 INFO sqlalchemy.engine.Engine [raw sql] ('books',)
2023-11-18 18:37:34,627 INFO sqlalchemy.engine.Engine SELECT books.title
FROM books ORDER BY books.title
2023-11-18 18:37:34,628 INFO sqlalchemy.engine.Engine [generated in 0.00046s] ()